<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRl9OkR5zCVtS76A130nH09YMnmU5S4Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>439054901081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozyurt.instaClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-4352e</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-4352e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439054901081:ios:0ac4fb8479e69cb7c7b648</string>
</dict>
</plist>